# Results

| Run | Configuration | QBER (%) | SKR (bits/pulse) | Sifted | Status | Decoy Alert | Ret. Ratio (%) |
|:---:|:---|:---:|:---:|:---:|:---:|:---:|:---:|
| A | Ideal, No attack | 1.96% | 3.64e-02 | 5023.0 | Continued | No | N/A |
| B | Ideal, IR (eve=1.0) | 27.06% | 0.00e+00 | 4950.6 | Aborted | No | N/A |
| C | Ideal, IR (eve=0.36) | 10.18% | 3.38e-03 | 5011.2 | Continued | No | N/A |
| D | WCP, mu=0.2, PNS (eve=1.0) | 0.49% | 3.89e-03 | 416.2 | Continued | No | 62.7% |
| E | WCP, mu=0.4, PNS (eve=1.0) | 1.71% | 6.49e-03 | 827.6 | Continued | No | 67.1% |
| F | WCP, mu=0.2, PNS (eve=1.0) + Decoy | 1.32% | 6.39e-03 | 773.6 | Continued | No | N/A |
